html, body {
    height: 100%;
    margin: 0 8px;
}

body {
    text-align: center;
    display: grid;
    grid-template-rows: min-content min-content auto;
}

#mail {
    border: thin solid black;
    background-color: beige;
    position: relative;
    height:700px;
    top: 0px;
    left: 0px;
}

span {
    font-size: 6em;
    position: absolute;
    border: thin dotted black;
}
#letters {
    border: thin solid black;
    background-color: beige;
    position:relative;
    top:0px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
#letter {
    position: relative;
    font-size: 4em;
    border: thin dotted black;
    margin-right: 20px;
    z-index: 100;
    margin-bottom: 10px;
    cursor: pointer;
}
#uppercase {
    position: relative;
    top:20px;
}